@import url("https://cdn.syncfusion.com/ej2/bootstrap5.css");
@import "../node_modules/@syncfusion/ej2-diagrams/styles/material.css";
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";

.AppContainer {
  background-color: #f4f4f4;
  width: 100%;
  min-height: 100%;
  display: flex;
}
a {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.75);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.85);
}
.defaultBoxShadowBlack {
  box-shadow: 0 0 7.5px 0 rgb(0 0 0 / 25%);
}
.defaultBoxShadowWhite {
  box-shadow: 0 0 7.5px 0 rgb(255 255 255 / 25%);
}

#root {
  min-height: 100vh;
  height: 100%;
}

#js-licensing {
  display: none;
}

div[style='position:fixed;top:0;left:0;right:0;font-family:"Segoe UI";font-size:16px;background:repeating-linear-gradient(45deg,#d70f0f,#d70f0f 10px,#e12121 10px,#e12121 17px);color:#ffffff;z-index:999999999;text-align:center;padding:10px 50px 10px 25px;'] {
  display: none;
}
