.AppContainer {
  background-color: #f4f4f4;
  width: 100%;
  min-height: 100%;
  display: flex;
}
a {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.75);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.85);
}
.defaultBoxShadowBlack {
  box-shadow: 0 0 7.5px 0 rgb(0 0 0 / 25%);
}
.defaultBoxShadowWhite {
  box-shadow: 0 0 7.5px 0 rgb(255 255 255 / 25%);
}

#root {
  min-height: 100vh;
  height: 100%;
}
